<div class="row user_search_top">
	<div class="col-md-12 col-sm-12 col-xs-12">

			<%= form_with url: users_path, method: :get, local: true do |f| %>
				<%= f.text_field :search, class: "user_search-control", placeholder: "User名を入力してください"  %>
			<div class="search_top1">
	  			<%= f.submit 'Search', name: nil, class: "btn btn-info" %>
	  		</div>
			<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 col-sm-12 col-xs-12 like_index_box">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<h2 style="font-family: Impact;">User List</h2>
		</div>
		<% @users.each do |user| %>
			<div class="index_box">
			<%= link_to user_path(user.id) do %>
				<%= attachment_image_tag user, :image, fallback: "/no_image.jpg", class: "like_image"%><br>
				<ul>
					<li><%= user.name %></li>
				</ul>
			<% end %>
			</div>
		<%end%>
	</div>
	<div class="col-md-1"></div>
</div>