<div class="row">
	<h2 class="center">ログイン</h2>
	<div class="col-md-3 col-sm-3"></div>

	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="row">
			<%= form_for(:login, url: users_login_path ) do |f| %>
			<div class="col-md-1 col-sm-1"></div>
			<div class="col-md-10 col-sm-10 col-xs-12">
				<div class="form-group">
					<label>メールアドレス</label>
					<%= f.text_field :email, class: "form-control"  %>
				</div>

				<div class="form-group">
					<label>パスワード</label>
					<%= f.password_field :password, class: "form-control"  %>
				</div>

			</div>
			<div class="form-group row">
				<%= f.submit "ログイン", class: "btn btn-info margin_top " %>
			</div>
			<%end%>
			<div class="form-group">
				<%= link_to "パスワードを忘れた方", users_password_forget_path, class: "btn btn-danger" %>
			</div>
			<div class="col-md-1 col-sm-1"></div>
		</div>
	</div>

	<div class="col-md-3 col-sm-3"></div>
</div>
