<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-6"></div>
	<div class="col-md-1">
	<% if @current_user %>
		<% unless @user.id == @current_user.id %>
				<% if LikeUser.find_by(my_id: @current_user.id, user_id: @user.id) %>
					<%= link_to "お気に入り解除", user_like_user_path(@user.id), method: :delete, class: "btn btn-default" %>
				<% else %>
					<%= link_to "お気に入り登録", user_like_users_path(@user.id), method: :post, class: "btn btn-info" %>
				<% end %>
			<% end %>
	<% end %>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-1">
	<% if @current_user %>
		<% if @user.id ==  @current_user.id %>
			<%= link_to "マイページ編集", edit_user_path(@current_user.id), class: "btn btn-info" %>
		<% end %>
	<% end %>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="header_top"></div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<%= attachment_image_tag @user, :image, fallback: "/no_image.jpg", class: "show_image"%>
    </div>
	<div class="col-md-5 row">
		<div class="col-md-1"></div>
		<div class="col-md-10 user_show_box center">
			<h2>profile</h2>
			<ul>
				<li><%= @user.name %></li>
				<li class="show_text"><%= @user.user_text %></li>
				<li><%= link_to "facebook",@user.facebook, class: "li_link" %></li>
				<li><%= link_to "twitter",@user.twitter, class: "li_link" %></li>
				<li><%= link_to "instagram",@user.instagram, class: "li_link" %></li>
				<li><%= link_to "you tube",@user.youtube, class: "li_link" %></li>
			</ul>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row" style=" margin-top: 20px;">
	<div class="col-md-1"></div>
	<div class="col-md-10 show-back">
		<table class="table">
			<thead class="show_link">
				<tr>
					<td>タイトル</td>
					<td>メインタグ</td>
					<td>雰囲気</td>
					<td>ポイント</td>
					<td></td>
				</tr>
			</thead>
			<% @user.sounds.each do |sound| %>
			<tbody class="show_link">
				<tr>
					<td><%= link_to sound.title,sound_path(sound.id), class: "show_link" %></td>
					<td><%= sound.tag1 %></td>
					<td><%= sound.tag2 %></td>
					<td><%= sound.tag3 %></td>
					<% if @current_user %>
						<% if @user.id == @current_user.id %>
							<td>
									<%= link_to "編集", edit_sound_path(sound.id), class: "btn btn-info" %>
							</td>
						<% end %>
					<% end %>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
	<div class="col-md-1"></div>
</div>



