<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8"></div>
	<div class="col-md-2">
		<%= link_to "編集", edit_user_path(@current_user.id), class: "btn btn-info" %>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<%= attachment_image_tag @user, :image, :fill, 500, 500, fallback: "/no_image.jpg", class: "show_image"%>
    </div>
	<div class="col-md-5 center">
		<h2>profile</h2>
		<%= @user.name %>
		<%= @user.user_text %>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row" style=" margin-top: 20px;">
	<div class="col-md-1"></div>
	<div class="col-md-10 show-back">
		<table class="table">
			<thead class="show_link">
				<tr>
					<td>タイトル</td>
					<td>タグ１</td>
					<td>タグ２</td>
					<td>タグ３</td>
					<td></td>
				</tr>
			</thead>
			<% @user.sounds.each do |sound| %>
			<tbody class="show_link">
				<tr>
						<td><%= link_to sound.title,sound_path(sound.id), class: "show_link" %></td>
						<td><%= sound.tag1 %></td>
						<td><%= sound.tag2 %></td>
						<td><%= sound.tag3 %></td>
						<td>
							<%= link_to "編集", edit_sound_path(sound.id), class: "btn btn-info" %>
						</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
	<div class="col-md-1"></div>
</div>



