<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<%= attachment_image_tag @sound.user, :image, fallback: "/no_image.jpg", class: "show_image"%>
	</div>

	<div class="col-md-5">
		<iframe width="500" height="150" src="<%= @sound.url %>"></iframe>
		<table class="table">
			<tr>
				<th>曲名</th>
				<td><%= @sound.title %></td>
			</tr>
		</table>
		<table class="table">
			<tr>
				<th>アーティスト名</th>
				<td><%= link_to @sound.user.name, user_path(@sound.user_id) %></td>
				<td></td>
			</tr>
			<tr>
				<th>メインタグ</th>
				<th>雰囲気</th>
				<th>ポイント</th>
			</tr>
			<tr>
				<td><%= @sound.tag1 %></td>
				<td><%= @sound.tag2 %></td>
				<td><%= @sound.tag3 %></td>
			</tr>
		</table>
		<div class="sound_text">
			<p style="padding: 10px;"><%= simple_format(@sound.sound_text) %></p>
		</div>
		<%= render "like_sounds/like", sound_id: @sound.id %>
		<%=link_to "戻る", :back, class: "btn btn-default" %>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="header_top"></div>

<%= render "comments/comment", sound_id: @sound.id %>