<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<%= attachment_image_tag @sound.user, :image, fallback: "/no_image.jpg", class: "show_image"%>
	</div>

	<div class="col-md-5">
		<iframe width="500" height="150" src="<%= @sound.url %>"></iframe>
		<table class="table">
			<tr>
				<th>曲名</th>
				<td><%= @sound.title %></td>
			</tr>
			<tr>
				<th>アーティスト名</th>
				<td><%= link_to @sound.user.name, user_path(@sound.user_id) %></td>
			</tr>
			<tr>
				<th>メインタグ</th>
				<th>雰囲気</th>
				<th>ポイント</th>
			</tr>
			<tr>
				<td><%= @sound.tag1 %></td>
				<td><%= @sound.tag2 %></td>
				<td><%= @sound.tag3 %></td>
			</tr>
		</table>
		<div class="sound_text">
			<p style="padding: 10px;"><%= @sound.sound_text %></p>
		</div>
			<% if LikeSound.find_by(user_id: @current_user.id, sound_id: @sound.id) %>
				<%= link_to "お気に入り解除", sound_like_sound_path(@sound.id), method: :delete, class: "btn btn-default" %>
			<% else %>
				<%= link_to "お気に入り登録", sound_like_sounds_path(@sound.id), method: :post, class: "btn btn-info" %>
			<% end %>
			<%=link_to "戻る", :back, class: "btn btn-default" %>
	</div>
	<div class="col-md-1"></div>
</div>